@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}
.bg-auth {
    background-image: url("./Assets/Images/auth-background.svg");
    background-size: cover;
    background-position: center;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  #none{
    padding-top: 0;
  }

  #red{
    color: #FF4040;
  }
  #red:hover {
    background-color: #ff404038;
  }
  #active{
    background-color: blue;
  }

  #sent{
    color: #FF4040;
  }
  .sidebar .icon-svg path {
    transition: stroke 0.3s ease;
  }
  
  .sidebar:hover .icon-svg path {
    stroke: #2948CE;
  }

/* Hide the number input spinner */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.img-hover-outline {
  transition: stroke 0.3s;
}

.img-hover-outline:hover path {
  stroke: #2948CE;
}